@model CovidAppV5.Models.Family_Leave

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Family_Leave</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Division_District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division_District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrgNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrgNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuarantineOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuarantineOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdviseToSelfQuarantine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdviseToSelfQuarantine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Symptoms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Symptoms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaringForPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaringForPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildCareUnavailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildCareUnavailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SimilarConditions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SimilarConditions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Annual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidSick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidSick)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencyPaidSick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyPaidSick)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unpaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unpaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PathToFile)
        </dt>

        <dd>
            <a href="~/Family_Leave_Docs/@Html.DisplayFor(model=> model.PathToFile)">@Html.DisplayFor(model => model.PathToFile)</a>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
