@model PagedList.IPagedList<CovidAppV5.Models.Family_Leave>

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>FFCRA - Emergency Paid Sick Leave Form</h2>

<h4>There were @ViewBag.resultCount results.</h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @Html.ActionLink("Convert View To PDF", "pdfIndex", "Family_Leave",
  new
       {// routeValues
    searchString = ViewBag.CurrentFilter,
    sort = ViewBag.CurrentSort
      },
null)
</p>

@using (Html.BeginForm("Index", "Family_Leave", FormMethod.Get))
{
    <p>
        Find by name, org number, or district/division:
    </p>
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Phone 1
        </th>
        <th>
            Phone 2
        </th>
        <th>
            @Html.ActionLink("Division/District", "Index", new { sortOrder = ViewBag.DivSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Organization Number", "Index", new { sortOrder = ViewBag.OrgSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Quarantine Order
        </th>
        <th>
            Advise to Self Quarantine
        </th>
        <th>
            Symptoms
        </th>
        <th>
            Caring for Person
        </th>
        <th>
            Childcare Unavailable
        </th>
        <th>
            Similar Conditions
        </th>
        <th>
            Annual
        </th>
        <th>
            Paid Sick
        </th>
        <th>
            Emergency Paid Sick
        </th>
        <th>
            Unpaid
        </th>
        <th>
            Leave From
        </th>
        <th>
            Leave To
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division_District)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrgNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuarantineOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdviseToSelfQuarantine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Symptoms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaringForPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildCareUnavailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SimilarConditions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidSick)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyPaidSick)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unpaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveTo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
