@model IEnumerable<CovidAppV5.Models.Family_Leave>


@{
    ViewBag.Title = "Index";
}

<h2>FFCRA - Emergency Paid Sick Leave Forms</h2>

<h4>There were @ViewBag.resultCount results.</h4>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Phone 1
        </th>
        <th>
            Phone 2
        </th>
        <th>
            District/Division
        </th>
        <th>
           Organization Number
        </th>
        <th>
            Quarantine Order
        </th>
        <th>
            Advise to Self Quarantine
        </th>
        <th>
            Symptoms
        </th>
        <th>
            Caring for Person
        </th>
        <th>
            Childcare Unavailable
        </th>
        <th>
            Similar Conditions
        </th>
        <th>
            Annual
        </th>
        <th>
            Paid Sick
        </th>
        <th>
            Emergency Paid Sick
        </th>
        <th>
            Unpaid
        </th>
        <th>
            Leave From
        </th>
        <th>
            Leave To
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Phone1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Phone2)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Division_District)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrgNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.QuarantineOrder)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AdviseToSelfQuarantine)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Symptoms)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CaringForPerson)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ChildCareUnavailable)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SimilarConditions)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Annual)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PaidSick)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmergencyPaidSick)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Unpaid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LeaveFrom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LeaveTo)
    </td>
</tr>
    }

</table>

<script>
    window.print();
</script>