@model CovidAppV5.Models.Case_Log

@{
    ViewBag.Title = "Details";
}

<h2>COVID 19 Questionnaire Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Division_District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division_District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrgNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrgNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfTest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfTest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfExposure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfExposure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfExposed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfExposed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstShot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstShot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondShot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondShot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostVac14Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostVac14Days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PathToFile)
        </dt>

        <dd>
            <a href="~/Case_Log_Docs/@Html.DisplayFor(model=> model.PathToFile)">@Html.DisplayFor(model => model.PathToFile)</a>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
