@model PagedList.IPagedList<CovidAppV5.Models.Case_Log>

@using PagedList.Mvc;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Index";
    }

<h2>Covid 19 Questionnaires</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @using (Html.BeginForm("Index", "Case_Log", FormMethod.Get))
    {
        <p>
            Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Phone 1
            </th>
            <th>
                Phone 2
            </th>
            <th>
                District/Division
            </th>
            <th>
                @Html.ActionLink("Organization Number", "Index", new { sortOrder = ViewBag.OrgSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Date of test
            </th>
            <th>
                Date of exposure
            </th>
            <th>
                Number of exposed
            </th>
            <th>
                Notes
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Division_District)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrgNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfTest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfExposure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfExposed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

