@model IEnumerable<CovidAppV5.Models.Case_Log>


@{
    ViewBag.Title = "Index";
}

<h2>COVID 19 Questionnaires</h2>

<h4>There were @ViewBag.resultCount results.</h4>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Phone Number
        </th>
        <th>
            District/Division
        </th>
        <th>
            Organization Number
        </th>
        <th>
            Date of test
        </th>
        <th>
            Date of exposure
        </th>
        <th>
            Number of exposed
        </th>
        <th>
            Notes
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division_District)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrgNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfTest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfExposure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfExposed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
        </tr>
    }

</table>

<script>
    window.print();
</script>