@model IEnumerable<CovidAppV5.Models.Case_Log>


@{
    ViewBag.Title = "Index";
}

<h2>COVID 19 Questionnaires</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "pdfIndex", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Phone Number
        </th>
        <th>
            @Html.ActionLink("District/Division", "pdfIndex", new { sortOrder = ViewBag.DivSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Organization Number", "pdfIndex", new { sortOrder = ViewBag.OrgSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Date of test
        </th>
        <th>
            Date of exposure
        </th>
        <th>
            Number of exposed
        </th>
        <th>
            Notes
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division_District)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrgNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfTest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfExposure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfExposed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
        </tr>
    }

</table>

